[Unit]
Description=LinWin-Http-Server
After=network.target 

[Service]
ExecStart=/usr/LinWinHttp/sys/linwinhttp_start.sh
Default-Start=/usr/LinWinHttp/sys/linwinhttp_start.sh
Defualt-Stop=/bin/linwinhttp -server_stop 

[Install]
WantedBy=muti-user.target  
