[Desktop Entry]
Categories=Utility;
Comment=LinWin Http Server For Linux
Exec=/home/kali/桌面/linwin-http-server/Sevice/desktop/desktopboot %U
Icon=/usr/LinWinHttp/out/production/LinWinHttpServer/img/logo.png
Name=LinWin Http Server
GenericName=LinWin Http Server
Name[zh_CN]=LinWin Http Server
Terminal=false
Type=Application
